body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background-color: tan;
}

/* Nav Styles */

.nav {
    grid-area: nav;
}

.nav > ul {
    list-style: none;  
    
}

.nav > ul li {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Nav Links Styles */

.nav > ul a {
    text-decoration: none;
    border: 4px solid #7124ee;
    border-radius: 50em;
    color: white;
    background-color: black;
    padding: 13px 20px;
    margin: 0px 10px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

/* Nav Hover Conditional */

.nav > ul a:hover, .nav .active {
    background-color: #7124ee;
    color: tan;
    box-shadow: 9px 10px rgba(0,0,0,0.6);
    transition: all 0.33s ease-in;
}

/* About Me */

.about-me {
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    background-color: black;
    border: 4px solid #7124ee;
    grid-area: about-me;
    line-height: 45px;
    display: grid;
}

.about-me > h1 {
    color: white;
    text-align: center;
}

.about-me > ul {
    font-size: 20px;
    color: tan;
}

.about-me > ul > li {
    margin-bottom: 20px;
    text-decoration: none;
}

/* Profile Pics Styles */

.pro-dress {
    display: flex;
    justify-content: center;
    background-color: black;
    border: 4px solid #7124ee;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-area: pro-dress
}

.profile-pic {
    display: flex;
    justify-content: center;
    background-color: black;
    border: 4px solid #7124ee;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-area: profile-pic;
}

/* Footer Styles */

.footer {
    background-color: black;
    text-align: center;
    grid-area: footer;
    padding-top: 2em;
    color: white;
    border-top: 4px solid #7124ee;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    grid-template-areas: 
    'name . number'
    '. . email'
    '. . linked-in';
    margin-top: 25px;
}

.footer > .name {
    grid-area: name;
}

.footer > .number {
    grid-area: number;
}

.footer > .email {
    grid-area: email;
}

.footer > .linked-in {
    grid-area: linked-in;
}

/* Media Query */

@media screen and (min-width: 666px){
    .site-wrap {
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 4;
        grid-template-areas:
            'nav nav nav nav'
            '. about-me pro-dress .'
            '. about-me profile-pic .'
            'footer footer footer footer';
        ;
    }
    /* Nav Styles */

    .nav {
        background-color: black;
        border-bottom: 4px solid #7124ee;
        margin-bottom: 25px;
    }

    .nav > ul {
        display: flex;
    }

    .logo {
        content: url(../images/website-logo-desktop.png);
    }
}