body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background-color: tan;
}

/* Nav Styles */

.nav {
    grid-area: nav;
}

.nav > ul {
    list-style: none;  
    
}

.nav > ul li {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Nav Links Styles */

.nav > ul a {
    text-decoration: none;
    border: 4px solid #7124ee;
    border-radius: 50em;
    color: white;
    background-color: black;
    padding: 13px 20px;
    margin: 0px 10px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

/* Nav Hover Conditional */

.nav > ul a:hover, .nav .active {
    background-color: #7124ee;
    color: tan;
    box-shadow: 9px 10px rgba(0,0,0,0.6);
    transition: all 0.33s ease-in;
}

/* Illustrator Styles*/

.illustrator {
    margin: 50px;
    background-color: black;
    border: 4px solid #7124ee;
    padding-top: 25px;
    grid-area: illustrator;
}

.illustrator > .illustrator-logo {
    display: flex;
    justify-content: center;
}

.illustrator > h3, h4 {
    display: flex;
    justify-content: center;
    color: white;
}

.illustrator > p {
    display: flex;
    justify-content: center;
}

/* Photoshop Styles*/

.photoshop {
    margin: 50px;
    background-color: black;
    border: 4px solid #7124ee;
    padding-top: 25px;
    grid-area: photoshop;
}

.photoshop > .photoshop-logo {
    display: flex;
    justify-content: center;
}

.photoshop > h3, h4 {
    display: flex;
    justify-content: center;
    color: white;
}

.photoshop > p {
    display: flex;
    justify-content: center;
}

/* CSS & HTML Styles */

.html-css {
    margin: 50px;
    background-color: black;
    border: 4px solid #7124ee;
    padding-top: 25px;
    grid-area: html-css;
}

.html-css > .html-css-logos {
    display: flex;
    justify-content: center;
}

.html-css > h3, h4 {
    display: flex;
    justify-content: center;
    color: white;
}

.html-css > p {
    display: flex;
    justify-content: center;
}

/* Footer Styles */

.footer {
    background-color: black;
    text-align: center;
    grid-area: footer;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
    border-top: 4px solid #7124ee;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
    grid-template-areas: 
    'name . number'
    '. . email'
    '. . linked-in';
}

.footer > .name {
    grid-area: name;
    font-size: 20px;
}

.footer > .email {
    grid-area: email;
}

.footer > .number {
    grid-area: number;
}

.footer > .linked-in {
    grid-area: linked-in;
    margin-top: 15px;
}

.footer > .linked-in > a:hover {
    color: tan;
    transition: all 0.3s;
}

/* Media Query */

@media screen and (min-width: 666px){
    .site-wrap {
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 4;
        grid-template-areas:
            'nav nav nav nav'
            '. photoshop photoshop .'
            '. illustrator html-css .'
            'footer footer footer footer';
        ;
    }
    
    /* Nav Styles */

    .nav {
        background-color: black;
        border-bottom: 4px solid #7124ee;
        margin-bottom: 25px;
    }

    .nav > ul {
        display: flex;
    }

    .logo {
        content: url(../images/website-logo-desktop.png);
    }
}