body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background-color: tan;
}

/* Nav Styles */

.nav {
    grid-area: nav;
}

.nav > ul {
    list-style: none;  
    
}

.nav > ul li {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Nav Links Styles */

.nav > ul a {
    text-decoration: none;
    border: 4px solid #7124ee;
    border-radius: 50em;
    color: white;
    background-color: black;
    padding: 13px 20px;
    margin: 0px 10px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

/* Nav Hover Conditional */

.nav > ul a:hover, .nav .active {
    background-color: #7124ee;
    color: tan;
    box-shadow: 9px 10px rgba(0,0,0,0.6);
    transition: all 0.33s ease-in;
}

/* About Me Styles */

.about-me {
    background-color: black;
    border: 4px solid #7124ee;
    grid-area: featured-main;
}

.about-me h1 {
    font-weight: bold;
    text-align: center;
    color: tan;
}

.about-me p {
    padding: 10px;
    padding-left: 15px;
    color: tan;
    font-size: 23px;
    text-align: center;
}

.about-me a {
    display: flex;
}

/* Button Styles */

.more-btn {
    text-decoration: none;
    border: 2px solid tan;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 19.5px 34px;
    margin: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.featured-main a:hover {
    box-shadow: 5px 5px rgba(196, 184, 84, 0.904) inset, -5px -5px rgba(196, 184, 84, 0.904) inset;
    transition: all 0.5s ease-in;
}

/* Profile Pic Styles */

.profile-pic {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.profile-pic > img {
    border: 4px solid #7124ee;
}

/* Drawing Styles */

.drawings {
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline;
}

/* Footer Styles */

.footer {
    background-color: black;
    text-align: center;
    grid-area: footer;
    padding-top: 2em;
    color: white;
    border-top: 4px solid #7124ee;
}

.footer {
    padding-bottom: 10px;
}

/* Media Query */

@media screen and (max-width: 480px){
    .site-wrap {
        grid-template-rows:
            min-content
            152px
            min-content
            min-content
            128px
        ;
        grid-template-areas:
            "header header header header header header"
            "featured-header featured-header featured-header featured-header featured-header featured-header"
            "featured-main featured-main featured-main featured-main featured-main featured-main"
            "content content content content content content"
            "footer footer footer footer footer footer"
        ;
    }
    .featured-profile {
        display: none;
    }
    .header > .nav {
        list-style: none;  
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .header > .nav a {
        margin: 0.5em;
    }
    .featured-header {
        text-align: center;
        line-height: 1em;
        font-size: 60pt;
    }
}