body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background-color: tan;
}

/* Nav Styles */

.nav {
    grid-area: nav;
}

.nav > ul {
    list-style: none; 
}

.nav > ul > li {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Nav Links Styles */

.nav > ul > li > a {
    text-decoration: none;
    border: 4px solid #7124ee;
    border-radius: 50em;
    color: white;
    background-color: black;
    padding: 13px 20px;
    margin: 0px 10px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

/* Nav Hover Conditional */

.nav > ul > li > a:hover, .nav .active {
    background-color: #7124ee;
    color: tan;
    box-shadow: 9px 10px rgba(0,0,0,0.6);
    transition: all 0.33s ease-in;
}

/* About Me Styles */

.about-me {
    background-color: black;
    border: 4px solid #7124ee;
    grid-area: about-me;
    margin-left: 25px;
    margin-right: 25px;
}

.about-me > h1 {
    font-weight: bold;
    text-align: center;
    color: white;
}

.about-me > p {
    padding: 10px;
    color: tan;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
}

.about-me > .btn-position {
    display: flex;
    justify-content: center;
}

.about-me > .btn-position > a:hover {
    box-shadow: 5px 5px tan inset, -5px -5px tan inset;
    transition: all 0.5s ease-in;
    background-color: tan;
    border: 2px solid #7124ee;
    color: #7124ee;
}

.about-me > .btn-position > .more-btn {
    text-decoration: none;
    border: 2px solid tan;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 15px 24px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

/* Profile Pic Styles */

.profile-pic {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    grid-area: profile-pic;
}

.profile-pic > img {
    border: 4px solid #7124ee;
}

/* Drawing Styles */

.drawings {
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 25px;
    background-color: black;
    border: 4px solid #7124ee;
    grid-area: drawings;
}

.drawings > .oh-gee-art-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.drawings > .open-yo-mind {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.drawings > .expand {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.drawings > .silence {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

/* Footer Styles */

.footer {
    background-color: black;
    text-align: center;
    grid-area: footer;
    padding-top: 2em;
    color: white;
    border-top: 4px solid #7124ee;
}

/* Media Query */

@media screen and (min-width: 666px){

    /* Site Wrap Grid Styles */

    .site-wrap {
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 4;
        grid-template-areas:
        'nav nav nav nav'
        '. profile-pic about-me .'
        ' . drawings drawings . '
        'footer footer footer footer';
    }

    /* Nav Styles */

    .nav {
        background-color: black;
        border-bottom: 4px solid #7124ee;
        margin-bottom: 25px;
    }

    .nav > ul {
        display: flex;
    }

    .logo {
        content: url(../images/website-logo-desktop.png);
    }

    /* Profile Pic Styles */

    .profile-pic {
        margin-left: 25px;
    }

    .profile-pic > img {
        content: url(../images/profile-pic-desktop.png);
    }

    /* About Me Styles */

    .about-me {
        margin-right: 25px;
        
    }

    /* Drawing Styles */

    .drawings {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .drawings > .oh-gee-art-2 {
        margin-bottom: 0px;
    }

    .drawings > .open-yo-mind {
        margin-bottom: 0px;
    }

    .drawings > .expand {
        margin-bottom: 0px;
    }

    .drawings > .silence {
        margin-bottom: 0px;
    }
}