/* Body Styles */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background-color: tan;
}

/* Site Wrap Styles*/

.site-wrap {
    display: grid;
    grid-template-rows: 7;
    grid-template-columns: 1;
    grid-template-areas:
        'logo'
        'alfred'
        'chinese'
        'btn'
        'reflection'
        'create'
        'footer';
}

/* Button Styles */

.btn-wrapper {
    grid-area: btn;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-wrapper > .btn {
    text-decoration: none;
    border: 2px solid #7124ee;
    border-radius: 50em;
    color: white;
    background-color: black;
    padding: 19.5px 34px;
    text-transform: uppercase;
}

.btn-wrapper a:hover {
    background-color: #7124ee;
    color: tan;
    box-shadow: 9px 10px rgba(0,0,0,0.6);
    transition: all 0.33s ease-in;
}

/* Logo Styles */

.logo-wrapper {
    grid-area: logo;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo-wrapper > img {
    margin-top: 25px;
    margin-bottom: 25px;
}

.logo-wrapper > a > .active {
    background-color: #7124ee;
    color: tan;
    box-shadow: 9px 10px rgba(0,0,0,0.6);
    transition: all 0.33s ease-in;
    border-radius: 50em;
}

/* Image Styles */

.alfred {
    grid-area: alfred;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.create {
    grid-area: create;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.chinese {
    grid-area: chinese;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.reflection {
    grid-area: reflection;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Footer */

.footer {
    background-color: black;
    text-align: center;
    grid-area: footer;
    padding-top: 2em;
    color: white;
    border-top: 4px solid #7124ee;
    padding-bottom: 10px;
}

/* Media Query */

@media only screen and (min-width: 666px) {
    .site-wrap {
        display: grid;
        grid-template-rows: 5;
        grid-template-columns: 3;
        grid-template-areas: 
            'alfred logo chinese'
            '. logo .'
            'reflection btn create'
            'reflection . create'
            'footer footer footer';
    }
}