body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background-color: tan;
}

/* Nav Styles */

.nav {
    grid-area: nav;
}

.nav > ul {
    list-style: none;  
    
}

.nav > ul li {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Nav Links Styles */

.nav > ul a {
    text-decoration: none;
    border: 4px solid #7124ee;
    border-radius: 50em;
    color: white;
    background-color: black;
    padding: 13px 20px;
    margin: 0px 10px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

/* Nav Hover Conditional */

.nav > ul a:hover, .nav .active {
    background-color: #7124ee;
    color: tan;
    box-shadow: 9px 10px rgba(0,0,0,0.6);
    transition: all 0.33s ease-in;
}

/* Oh Gee Art Styles */

.oh-gee-art {
    margin: 25px;
    background-color: black;
    border: 4px solid #7124ee;
    padding-bottom: 25px;
    grid-area: oh-gee-art;
}

.oh-gee-art > h1 {
    display: flex;
    justify-content: center;
    color: white;
}

.oh-gee-art > a {
    display: flex;
    justify-content: center;
}

/* DevCamp Fries Website Styles */

.devcamp-fries-website {
    grid-area: devcamp-fries;
    text-align: center;
}

/* Iteams USA Landing Page Styles */

.iteams-usa-landing-page {
    margin: 25px;
    background-color: black;
    border: 4px solid #7124ee;
    padding-bottom: 25px;
    grid-area: landing-page;
}

.iteams-usa-landing-page > h1 {
    color: white;
    display: flex;
    justify-content: center;
}

.iteams-usa-landing-page > a {
    display: flex;
    justify-content: center;
}

.extra-landing-page {
    display: none;
}

/* CodePen Website Styles */

.codepen-website {
    margin: 25px;
    background-color: black;
    border: 4px solid #7124ee;
    padding-bottom: 25px;
    grid-area: codepen-website;
}

.codepen-website > h1{
    color: white;
    display: flex;
    justify-content: center;
}

.codepen-website > a {
    display: flex;
    justify-content: center;
}

/* Footer Styles */

.footer {
    background-color: black;
    text-align: center;
    grid-area: footer;
    padding-top: 2em;
    color: white;
    border-top: 4px solid #7124ee;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
    grid-template-areas: 
    'name email number';
}

.footer > .name {
    grid-area: name;
}

.footer > .email {
    grid-area: email;
}

.footer > .number {
    grid-area: number;
}

.footer {
    padding-bottom: 10px;
}

/* Media Query */

@media screen and (min-width: 666px){

    /* Site Wrap Grid Styles */

    .site-wrap {
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 4;
        grid-template-areas:
            'nav nav nav nav'
            '. oh-gee-art oh-gee-art .'
            '. devcamp-fries devcamp-fries .'
            '. landing-page codepen-website .'
            'footer footer footer footer';
        ;
    }

    /* Nav Styles */

    .nav {
        background-color: black;
        border-bottom: 4px solid #7124ee;
        margin-bottom: 25px;
    }

    .nav > ul {
        display: flex;
    }

    .logo {
        content: url(../images/website-logo-desktop.png);
    }

    /* Banner Styles */

    .banner {
        content: url(../images/oh-gee-art-banner-desktop.png);
        margin-bottom: 25px;
    }

    /* Iteams Landing Page Styles */

    .iteams-usa-landing-page > a {
        margin-bottom: 150px;
    }

    .extra-landing-page {
        display: inline;
    }
}